html {
  font-family: sans-serif;
  font-size: 16px;
}

section {
  padding: 1cm;
}

.people {
  display: flex;
  flex-direction: row;
}

.person > img {
  object-fit: cover;
  border-radius: 50%;
  width: 5cm;
  height: 5cm;
}