---
layout: layouts/base.njk
title: Главная
---

<h1>Избирательный&nbsp;штаб для выдвижения независимых&nbsp;кандидатов</h1>

<section>
Команда «Штаба кандидатов» помогает кандидатам с близкими для нас взглядами избраться в законодательные органы власти.
Это даёт им возможность участвовать в легальных электоральных процессах и вносить свой вклад в укрепление общественных институтов.
Вместе с нами кандидаты побеждают на выборах в неравных условиях,
и мы хотим распространять свой опыт дальше.
</section>

<section>

    <h3>Основатели «Штаба кандидатов»</h3>
    <div class="people">

{% for person in people.leaders %}
        <figure class="person">
            <img src="{{person.photoUrl}}">
            <figcaption>
                <span class="person-name">{{person.name}}</span>
                <br>
                <span class="person-worktitle">{{person.title}}</span>
            </figcaption>
        </figure>
{% endfor %}

    </div>
</section>

<section>
<p>Успешно провели кампанию в единые дни голосования 2022 и 2023
<p><a href="/join/" class="note_btn">Присоединиться</a>
</section>

<section>
    <div>
        <h4>Готовимся к довыборам 2023 года и кампаниям 2024</h4>
        <ul>
            <li>Если вы выдвинетесь кандидатом, то вашим соседям и друзьям точно будет за кого проголосовать.
                Вы сможете представлять свои идеи и убеждения.
                Возможно, ваша роль окажется решающей для защиты свободы и демократии в нашем обществе.</li>
            <li>Большое количество кандидатов реализуют принцип политического плюрализма.
                Своим участием в выборах вы привлечете внимание к разным проблемам и вопросам,
                которые нуждаются в решении,
                и сможете улучшить жизнь людей.</li>
            <li>Выборы дадут вам понимание многих процессов.
                Этот опыт будет особенно полезен,
                если вы стремитесь к лидерству и влиянию.</li>
        </ul>
    </div>

    <div>
        <h4>Без наблюдателей на избирательных участках — ничего не получится</h4>
        <ul>
            <li>Выборы являются одним из самых важных процессов в любом демократическом обществе.
                Они определяют,
                кто будет представлять интересы населения на всех уровнях власти,
                от муниципальной до федеральной.
                В связи с этим следить за ходом голосования и быть наблюдателем крайне важно для каждого гражданина.</li>
            <li>Будучи наблюдателем,
                вы сможете заставить сотрудников избирательной комиссии работать ответственнее.
                Ваш пример может стать также стимулом для других людей проявить активную гражданскую позицию и прийти на выборы.
                Это важно,
                ведь каждый голос имеет значение.</li>
            <li>Само присутствие честных наблюдателей мотивирует сотрудников избирательной комиссии работать ответственнее.
                Наблюдатели на выборах могут вдохновить других граждан на активное участие в выборах.
                Ваш пример может стать стимулом для других людей,
                проявить активную гражданскую позицию и прийти на выборы.
                Это важно, ведь каждый голос имеет значение.</li>
        </ul>
    </div>
</section>

<section>
    <p>
        <a href="https://t.me/shtabkisiev">Подписывайтесь на наш телеграм-канал</a>
    </p>
</section>
